
hello/.vs/hello/v16/Browse.VC.db
hello/.vs/hello/v16/Browse.VC.db
hello/.vs/hello/v16/Browse.VC.db-shm
hello/.vs/hello/v16/Browse.VC.db-wal
hello/.vs/hello/v16/Browse.VC.opendb
hello/.vs/hello/v16/Browse.VC.db
*.db
*.db
*.exe
*.pdb
*.ilk
*.obj
*.tlog
